@use '../../styles/variables.scss' as var;

.phase2 {
	display: grid;
	grid-template-areas:
		"title title"
		"dates dates"
		"reminders details";
	grid-template-columns: 1fr 1fr;
	justify-items: center;

	.p2header {
		grid-area: title;
		color: var.$firstColor;
		margin: 2rem 0;
	}

	.p2dateRange {
		grid-area: dates;
		color: var.$firstColor;
		margin: 0 0 2rem 0;
	}

	.phase2Reminders {
		grid-area: reminders;
		border: 1px solid var.$thirdColor;
		padding: 1rem;
		box-shadow: 5px 5px var.$firstColor;
		border-radius: 5px;
		width: 80%;
	}

	.phase2Details {
		grid-area: details;
		border: 1px solid var.$thirdColor;
		padding: 1rem;
		box-shadow: 5px 5px var.$firstColor;
		border-radius: 5px;
		width: 80%;
	}
}

@media (max-width: 1050px) {
	.phase2 {
		grid-template-areas:
			"title"
			"dates"
			"reminders"
			"details";
		grid-template-columns: 100%;
		grid-gap: 1rem;
		margin: 1rem 0 2rem 0;

		.p2header {
			margin: 0;
			text-align: center;
		}

		.p2dateRange {
			margin: 0;
		}
	}
}

@media (max-width: 1050px) {
	.phase2 {
		.p2header {
			font-size: 1.7rem;
		}

		.p2dateRange {
			margin: 0;
		}
	}
}
