@use '../../styles/variables' as var;

header {
	background: var.$baseColor;
	// text-align: center;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;

	.ui.form.create {
		@include var.FormForm_Field(var.$firstColor);
		flex-grow: 2;

		.fields {
			margin: 0;
			display: flex;
			justify-content: center;

			.field {
				padding: 0;
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 60%;

				label {
					color: var.$secondColor;
					font-size: 1.6rem;
				}

				#newJurn {
					font-size: 1.2rem;
					color: var.$firstColor;
				}

				input:focus {
					border: 1.4px solid var.$secondColor;
				}

				.error {
					color: #9f3a38;
				}

				.errorBox {
					border-color: #e0b4b4;
					background: #fff6f6;
				}

				button {
					@include var.buttonThemed(var.$firstColor);
					width: 50%;
					font-size: 1.2rem;
					padding: 0.75rem 0;
				}
			}
		}
	}

	.ui.button {
		@include var.buttonThemed(var.$firstColor);
		font-size: 1.3rem;
	}
}

@media (max-width: 850px) {
	header {
		.ui.form.create {
			.fields {
				.field {
					width: 100%;

					.ui.button {
						padding: 1rem 0.5rem;
					}
				}
			}
		}
	}
}

@media (max-width: 500px) {
	header {
		padding: 1rem 0;
		flex-direction: column;

		img {
			margin: 0 0 1.5rem 0;
		}

		.ui.form.create {
			width: 95%;

			.fields {
				.field {
					button {
						margin: 1rem 0;
					}
				}
			}
		}

		.ui.button {
			display: none;
		}
	}
}
