@use '../../styles/variables' as var;

section {
	.dashMain {
		background: white;

		.cardDiv {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;

			div.ui.centered {
				border: 1px solid var.$thirdColor;
				box-shadow: 5px 5px var.$firstColor;
				border-radius: 5px;
				margin: 2.5rem;

				img {
					padding: 1rem 1rem 0 1rem;
					background: none;
				}

				div.content {
					padding: 1rem;
					border: none;

					div.nameAndEdit {
						color: var.$firstColor;
					}

					#location {
						color: var.$firstColor;
						font-weight: 900;
					}

					div.meta {
						color: var.$thirdColor;
					}

					a.p1Edit {
						@include var.buttonThemed(var.$firstColor, var.$highlightColor);
						padding: 0.5rem 0.5rem 0.5rem 0.75rem;
						position: absolute;
						bottom: 16px;
						right: 10px;
					}
				}
			}
		}
	}
}

@media (max-width: 500px) {
	section {
		.dashMain {
			.cardDiv {
				div.ui.centered {
					margin: 1rem;

					img {
						display: none;
					}
				}
			}
		}
	}
}
