@import "../base.scss";

.activitiesDiv {
  width: 430px;
  padding: 10px;

  .ui.checkbox {
    display: block;
  }
  .activitySect {
    @include FormForm_Input($secondColor);
  }

  .ui.form .fields .field {
    margin: 0;

    width: 100%;
  }
  .p1ActFilters {
    display: flex;
    margin-top: 15px;
    justify-self: center;
  }
  .ui.checkbox input.hidden + label {
    color: $firstColor;
  }
  .ui.radio.checkbox label:before {
    border-color: $firstColor;
  }
  .ui.checkbox label:before {
    border-color: $firstColor;
  }
  .ui.radio.checkbox {
    margin-left: 8px;
  }
  .ui.button {
    width: 173px;
    justify-self: center;
  }
  .completed {
    text-decoration: line-through;
  }
  .p1filterAndClear {
    display: grid;
    text-align: center;

    button {
      @include buttonThemed($firstColor);
    }
  }
}
