@import "../base.scss";

.activitiesDiv {
  width: 430px;
  padding: 10px;

  .ui.checkbox {
    display: block;
  }
  .ui.form .fields .field {
    margin: 0;
    width: 100%;
  }
  .p1ActFilters {
    display: flex;
    margin-top: 15px;
    justify-self: center;
  }
  .ui.radio.checkbox {
    margin-left: 8px;
  }
  .ui.button {
    width: 173px;
    justify-self: center;
  }
  .completed {
    text-decoration: line-through;
  }
  .p1filterAndClear {
    display: grid;
    text-align: center;
  }
}
