.suggestDateDiv {
  width: 400px;
  padding: 10px;

  .submitDates {
    margin-bottom: 10px;
  }

  .currentDatesAndButton {
    display: grid;
    justify-content: center;
  }
  .commitDates {
    justify-self: center;
    text-align: center;
  }
}
