@use '../../styles/variables' as var;

.suggestDateDiv {
	form.ui.form {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		h3 {
			font-size: 1.8rem;
			margin: 0;
		}

		h4 {
			margin: 0 0 1rem 0;
		}

		div.datepickerDiv {
			display: flex;
			justify-content: space-evenly;
			align-items: flex-end;

			.datesSect {
				@include var.FormForm_Input(var.$secondColor);
				margin: 0;

				div.field {
					margin: 0;
				}
			}

			button.submitDates {
				@include var.buttonThemed(var.$firstColor);
				margin: 0;
			}
		}

		div.fields {
			margin: 1rem;

			div.inline.field {
				div.radio.checkbox {
					label {
						color: var.$firstColor;

						&:before {
							border-color: var.$secondColor;
						}
					}
				}
			}
		}
	}

	.currentDatesAndButton {
		display: flex;
		justify-content: center;
		margin: 0 0 1rem 0;

		form.commitDates {
			button {
				@include var.buttonThemed(var.$firstColor);
				margin: 0;
			}
		}
	}
}

@media (max-width: 1050px) {
	.suggestDateDiv {
		form.ui.form {
			div.datepickerDiv {
				flex-direction: column;
				align-items: center;

				.datesSect {
					margin: 0 0 0.5rem 0;
				}
			}

			div.fields {
				margin: 1rem 0;
			}
		}
	}
}
