@import "../base.scss";

.suggestHotDiv {
  background: white;
  width: 600px;
  margin: auto;
  display: grid;
  justify-content: center;
  border: 1px solid black;

  .hotelSect {
    padding: 20px;
    margin: auto;
  }
}
