@import "../base.scss";

.suggestHotDiv {
  width: 430px;
  padding: 10px;

  .hotelSect {
    @include FormForm_Input($secondColor);
    width: 100%;
  }
  .ui.form .fields .field {
    margin: 0;
    width: 100%;
  }
  .ui.radio.checkbox {
    margin-left: 8px;
  }
  .currentHotAndButton {
    display: grid;
    justify-content: right;

    button {
      @include buttonThemed($firstColor);
    }
  }
  .commitLocation {
    justify-self: center;
  }
  .ui.checkbox input.hidden + label {
    color: $firstColor;
  }
  .ui.radio.checkbox label:before {
    border-color: $firstColor;
  }
}
