@import "../base.scss";

.inviteDiv {
  border: 1px solid $thirdColor;
  padding: 10px;
  width: 480px;
  box-shadow: 5px 5px $firstColor;
  border-radius: 5px;
  margin-top: 0;
  display: grid;

  form.ui.form {
    display: grid;
    justify-content: center;

    .fields {
      display: flex;
      flex-direction: row;
      justify-content: center;
      @include FormForm_Input($secondColor);

      .prompt.label {
        white-space: normal;
        background: #fff !important;
        border: 1px solid #e0b4b4 !important;
        color: #9f3a38 !important;
        width: 350px;
        text-align: center;
      }
    }

    .field {
      width: 183px;
    }
  }

  div.ui.list {
    div.item {
      i {
        color: $secondColor;
      }
    }
  }

  #submitInvite {
    justify-self: center;
    width: 120px;
    @include buttonThemed($firstColor);
  }
}
