@use '../../styles/variables' as var;

.inviteDiv {
	border: 1px solid var.$thirdColor;
	padding: 1rem;
	box-shadow: 5px 5px var.$firstColor;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	color: var.$firstColor;

	form.ui.form {
		display: grid;
		grid-template-areas:
			"h3 h3"
			"inputs inputs"
			"button button";

		h3 {
			grid-area: h3;
			font-size: 1.5rem;
			justify-self: center;
		}

		.fields.inviteSect {
			grid-area: inputs;
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			margin: 0 0 0.75rem 0;
			@include var.FormForm_Input(var.$secondColor);

			.prompt.label {
				white-space: normal;
				background: #fff;
				border: 1px solid #e0b4b4;
				color: #9f3a38;
				text-align: center;
			}
		}

		.field {
			padding: 0;
			width: 100%;

			label {
				font-size: 1.3rem;
			}

			&:first-child {
				margin: 0 1rem 0 0;
			}

			&:last-child {
				margin: 0 0 0 1rem;
			}
		}

		#submitInvite {
			grid-area: button;
			justify-self: center;
			width: 50%;
			@include var.buttonThemed(var.$firstColor);
		}
	}

	div.ui.list {
		margin: 0 0 1rem 0;

		h3 {
			margin: 0;
		}

		div.item {
			i {
				color: var.$secondColor;
			}
		}
	}

	button.deleteJurn {
		@include var.buttonThemed(var.$firstColor);
		margin: 0;
	}
}
