.suggestLocDiv {
  width: 400px;
  padding: 10px;

  .locationSect.input {
    width: 100%;
  }
  .ui.form .fields .field {
    margin: 0;
    width: 100%;
  }
  .ui.radio.checkbox {
    margin-left: 8px;
  }
  .currentLocAndButton {
    display: grid;
    justify-content: center;
  }
}
