@use '../../styles/variables' as var;

.phase1 {
	display: grid;
	grid-template-areas:
		"title title"
		"invite panes";
	grid-template-columns: 1fr 1fr;
	justify-items: center;

	.p1Header {
		grid-area: title;
		color: var.$firstColor;
		margin: 2rem 0;
	}

	.inviteUsers {
		grid-area: invite;
	}

	.selectionsMenu {
		grid-area: panes;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		border: 1px solid var.$thirdColor;
		padding: 1rem;
		box-shadow: 5px 5px var.$firstColor;
		border-radius: 5px;

		div.selectionTop {
			display: flex;
			flex-direction: column;
			align-items: center;

			h4 {
				font-size: 1.5rem;
				color: var.$firstColor;
			}

			.menuDiv2 {
				div.segment {
					border: none;
					box-shadow: none;
					margin: 1.5rem 0 0 0;
					padding: 0;
				}

				div.pointing.secondary.menu {
					a.item {
						color: var.$firstColor;
						font-size: 1.2rem;
						padding: 0.5rem 1rem;
					}

					a.item:hover {
						color: var.$highlightColor;
						border-color: var.$firstColor;
					}

					.active.item {
						color: var.$highlightColor;
						border-color: var.$firstColor;
					}
				}
			}
		}

		.toPhase2 {
			width: 100%;

			button {
				@include var.buttonThemed(var.$firstColor);
				width: 100%;
			}
		}
	}
}
