@import "../base.scss";

.phase1 {
	// position: absolute;
	// top: 120px;
	// left: 325px;
	// right: 0;
	// bottom: 0;
	background: white;
	overflow: auto;

	.p1Header {
		margin-top: 30px;
		text-align: center;
		color: $firstColor;
	}

	.p1tableWrapper {
		display: flex;
		justify-content: space-around;
		color: $firstColor;

		.selectionsMenu {
			border: 1px solid $thirdColor;
			padding: 10px;
			box-shadow: 5px 5px $firstColor;
			border-radius: 5px;
			margin-top: 0;
			width: 480px;

			.menuDiv2 {
				div.pointing.secondary.menu {
					.item {
						color: $thirdColor;
					}

					.item:hover {
						color: $secondColor;
					}

					.active.item {
						color: $highlightColor;
						border-color: $firstColor;
					}
				}

				div.segment.tab.active {
					border-color: $firstColor;
				}
			}
		}
	}

	.p1FooterButtons {
		display: flex;
		justify-content: space-around;
		margin-top: 30px;
		margin-bottom: 30px;

		button {
			@include buttonThemed($firstColor);
		}
	}
}
