@import "../base.scss";

.photoDiv {
  .photoForm {
    width: 400px;
    padding: 10px;

    .icon {
      color: $highlightColor;
    }

    .photoSel {
      display: flex;
      border: 1px solid $thirdColor;
      padding: 2px;
      border-radius: 3px;

      .ui.button {
        color: $baseColor;
        background-color: $firstColor;
      }

      .ui.dropdown > .text {
        color: $thirdColor;
      }
      .ui.dropdown > .dropdown.icon:before {
        color: $highlightColor;
        font-size: larger;
      }

      .ui.button {
        margin: 0;
      }
    }

    #dropdown {
      width: 325px;

      div {
        button {
          @include buttonThemed($firstColor);
        }
        div {
          display: flex;
          align-items: center;

          img {
            width: 75px;
            height: 75px;
            max-height: 75px;
          }
        }
      }
      div.visible {
        div {
          span {
            color: $firstColor;
          }
        }
      }
    }
  }
}
