@use '../../styles/variables' as var;

.photoDiv {
	.photoForm {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		h3 {
			font-size: 1.5rem;
			margin: 0;
		}

		.photoSel {
			display: flex;
			width: 100%;
			border: 1px solid var.$thirdColor;
			margin: 1rem 0;
			border-radius: 3px;

			#dropdown {
				width: 75%;
				display: flex;
				justify-content: space-between;
				align-items: center;

				div.text {
					color: var.$firstColor;
					font-size: 1.6rem;
				}

				i.icon {
					color: var.$highlightColor;
					font-size: 1.5em;
					margin: 0px 0px 5px 0px;
				}

				div.menu {
					height: 275px;
					overflow: auto;

					div.item {
						display: flex;
						align-items: center;
						font-size: 1.3rem;

						img {
							max-height: 4rem;
						}

						span {
							color: var.$firstColor;
						}
					}
				}
			}

			.ui.button {
				@include var.buttonThemed(var.$firstColor);
				margin: 5px;
			}

			.ui.dropdown > .dropdown.icon:before {
				color: var.$highlightColor;
				font-size: larger;
			}
		}
	}
}

@media (max-width: 1050px) {
	.photoDiv {
		.photoForm {
			.photoSel {
				#dropdown {
					width: 75%;

					div.text {
						font-size: 1.3rem;
					}
				}

				.ui.button {
					padding: 0.5rem;
				}
			}
		}
	}
}
