@import "../base.scss";

h5 {
  color: $secondColor;
  text-align: center;
  margin: 4px 0px;
}

.jurnesDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .jurnList {
    min-height: 230px;
    max-height: 230px;
    overflow: auto;
    margin: 0px 0px 10px 0px;

    #menu {
      box-shadow: 0 1px 2px 0 $firstColor;
      margin: 10px auto;
      width: 90%;

      #menuItem {
        width: 100%;
        display: flex;
        justify-content: space-between;

        p {
          color: $secondColor;
          margin: 0;
        }

        span {
          color: $firstColor;

          i {
            color: $highlightColor;
          }
        }
      }
    }
  }

  .ui.button.viewPending {
    @include buttonThemed($firstColor);
    width: 70%;
    align-self: center;

    span {
      color: $highlightColor;
    }
  }

  .pendList {
    height: 170px;
    overflow: auto;
    transition: height 0.7s;
  }

  .expand2 {
    height: 0px;
    transition: height 0.7s;
    overflow: hidden;
  }

  #menu2 {
    margin: 10px auto;
    width: 90%;

    #menuItem2 {
      display: grid;
      grid-template-columns: 1fr;
      padding: 3px 0px;

      p {
        color: $secondColor;
        text-align: center;
        margin: 0px 0px 5px 0px;
      }

      div {
        display: flex;
        justify-content: space-around;

        button {
          @include buttonThemed($firstColor);
        }
      }
    }
  }
}
