@import "../base.scss";

.messageArea {
  height: 400px;
  overflow: auto;
  background: $baseColor;
  padding: 5px 10px;

  p {
    font-size: 1.1em;
    margin: 0;

    .jurnName {
      color: $secondColor;
    }

    .message {
      color: $firstColor;
      padding: 0px 8px;
    }

    .timeStamp {
      color: $highlightColor;
      font-size: 0.7em;
    }
  }
}

.messageInput {
  width: 325px;
  height: 100px;
  z-index: 2;

  .messageForm {
    margin: 15px 5px;

    .ui.button.dropdown {
      color: $firstColor;
      width: 100%;
      display: flex;
      justify-content: space-around;

      i {
        color: $highlightColor;
      }
    }

    .ui.button.dropdown .menu {
      color: $secondColor;
      box-shadow: 0 2px 3px 0 $firstColor;
      border: 1px solid $firstColor;
      margin: 10px 0px;

      div span {
        color: $secondColor;
      }
    }

    .inputDiv {
      display: flex;
      border: 1px solid $firstColor;
      border-radius: 10px;
      align-items: center;
      height: 40px;

      .messageText {
        color: $firstColor;
        flex-grow: 2;
        background: transparent;
        border: 0;
        padding: 5px;
        outline: 0;
      }

      .messageText::placeholder {
        color: $firstColor;
      }

      .messageText:focus {
        color: $firstColor;
      }
    }
  }
}
