@use '../../styles/variables' as var;

.messageInput {
	width: 325px;
	height: 86px;

	.messageForm {
		margin: 15px 5px 0px 5px;

		.ui.button.dropdown {
			color: var.$firstColor;
			width: 100%;
			display: flex;
			justify-content: space-between;

			i {
				color: var.$highlightColor;
			}
		}

		.ui.button.dropdown {
			div.text {
				padding-left: 16px;
			}
			.menu {
				color: var.$secondColor;
				box-shadow: 0 2px 3px 0 var.$firstColor;
				border: 1px solid var.$firstColor;
				margin: 10px 0px;

				div span {
					color: var.$secondColor;
				}
			}
		}

		.field.inputDiv {
			@include var.FormForm_Field(var.$firstColor);
			height: 40px;

			.messageText {
				color: var.$firstColor;
				flex-grow: 2;
				border: 0;
				padding: 5px;
				outline: 0;
			}

			.messageText::placeholder {
				color: var.$firstColor;
			}

			.messageText:focus {
				color: var.$firstColor;
				background: #d1d1d1;
			}
		}
	}
}

.messageArea {
	height: 400px;
	overflow: auto;
	background: var.$baseColor;
	padding: 10px 10px;

	div {
		font-size: 1.1em;
		margin: 0;

		.jurnName {
			color: var.$secondColor;

			strong {
				padding-left: 5px;
			}

			.msgName {
				color: var.$secondColor;
			}

			.from {
				margin-left: 15px;
				font-size: 0.8em;
			}
		}

		.message {
			color: var.$firstColor;
		}

		.timeStamp {
			color: var.$highlightColor;
			font-size: 0.7em;
		}
	}
}
