@import "../base.scss";

.userProfile {
  height: 71px;
  padding: 5px;
  transition: height 0.7s;
  overflow: hidden;
}

.expand {
  height: 415px;
  padding: 5px;
  transition: height 0.7s;
  overflow: hidden;
}

.profileDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;

  div {
    display: flex;
    align-items: center;
  }

  .logOut {
    margin: 0;
    @include buttonThemed($firstColor);
  }
}

i {
  color: $secondColor;
}

.user {
  color: $firstColor;
  padding: 0;
  margin: 1px 2px;
}

.status {
  width: 10px;
  height: 10px;
  background: $highlightColor;
  border-radius: 50%;
}

.ui.button.editProfile {
  @include buttonThemed($firstColor);
  padding: 4px 9px 4px 9px;

  i {
    color: $baseColor;
  }
}

.ui.form.profileForm {
  @include FormForm_Input($firstColor);
  display: flex;
  flex-direction: column;

  div.field {
    div.input {
      input {
        color: $secondColor;
        background: $baseColor;
        border: 0;
      }
    }
  }

  .dropdown {
    @include buttonThemed($firstColor);
    margin: 0 0 1em 0;

    i {
      color: $highlightColor;
    }

    div.default {
      color: $baseColor;
    }
  }

  .ui.active {
    @include buttonThemed($firstColor);
    border: 1px solid $highlightColor;

    i {
      color: $highlightColor;
    }

    div.default {
      color: $baseColor;
    }

    div.visible {
      div {
        i {
          color: $secondColor;
        }
        span {
          color: $firstColor;
        }
      }
    }
  }

  .updateProfile {
    @include buttonThemed($firstColor);
    align-self: center;
    width: 70%;
  }
}
