@use "sass:color";

// Check color for lightness with
// @debug lightness(#b1b1b3);

$baseColor: #e8e8e8; // lightness 90.9803921569%
$firstColor: #007796; // lightness 29.4117647059%
$secondColor: #003352; // lightness 16.0784313725% -
$highlightColor: #ff8930; // lightness 59.4117647059%
$thirdColor: #1c5d99; // lightness 35.4901960784%
$frontPageColor: #4183c4; // lightness 51.1764705882%
$dark: #333333; // lightness  20% -
$width: 1200px;

@function setTextColor($color) {
	@if (lightness($color) > 50) {
		@return $dark;
	} @else {
		@return white;
	}
}

@function setColor($color) {
	@if (lightness($color) < 25) {
		@return $baseColor;
	} @else if(lightness($color) < 40) {
		@return $baseColor;
	} @else if(lightness($color) < 60) {
		@return $baseColor;
	} @else {
		@return $firstColor;
	}
}

// For backgrounds
@mixin background($color) {
	background: $color;
	color: setColor($color);
}

// For buttons or links
@mixin buttonThemed($col) {
	display: inline-block;
	padding: 1rem 2rem;
	transition: all 0.5s ease;
	border: 1px solid transparent;
	border-radius: 5px;
	cursor: pointer;
	background: $col;
	color: setColor($col);

	i {
		color: $highlightColor;
	}

	em {
		color: $highlightColor;
	}

	&:hover {
		background: lighten($col, 6%);
		transition: all 0.5s ease;
		color: darken($col, 20%);
		border: 1px solid $highlightColor;
	}

	&:active {
		background: lighten($col, 20%);
		outline: none;
	}

	&:focus {
		outline: none;
	}
}

// // Old button theme
// @mixin buttonThemed($bT) {
// 	background: $bT;
// 	color: $baseColor;
// 	border: 1px solid $secondColor;
// 	transition: all 0.3s ease;
// 	margin: 0;

// 	i {
// 		color: $highlightColor;
// 	}

// 	em {
// 		color: $highlightColor;
// 	}

// 	&:hover {
// 		background: lighten($bT, 8%);
// 		transition: all 0.3s ease;
// 		border: 1px solid $highlightColor;
// 		color: $baseColor;
// 	}
// 	&:active {
// 		background: lighten($bT, 20%);
// 	}
// }

@mixin FormForm_Input($fT) {
	div.field {
		label {
			color: $fT;
			// font-size: 1.7rem;
		}

		div.input {
			border-radius: 5px;
			color: $fT;
			background: white;
			// font-size: 1.7rem;

			input {
				background: white;
				border: 1px solid $fT;
			}

			&::placeholder {
				color: scale-color($secondColor, $alpha: -60%);
			}

			input:focus {
				color: darken($fT, 10%);
				border-color: $secondColor;
			}
		}
	}
}

@mixin FormForm_Field($fT2) {
	div.field {
		label {
			color: $fT2;
		}

		input {
			color: $fT2;
			border: 1px solid $fT2;
			border-radius: 5px;
		}

		input:focus {
			color: $fT2;
			color: darken($fT2, 10%);
			border-color: $secondColor;
		}
		::placeholder {
			color: scale-color($secondColor, $alpha: -60%);
		}
	}
}
