aside {
  background: rgb(0, 119, 150);

  .userProfile {
    height: 80px;
    padding: 5px;
    transition: height 0.7s;
    overflow: hidden;
  }

  .expand {
    height: 425px;
    padding: 5px;
    transition: height 0.7s;
    overflow: hidden;
  }

  .profileDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
      display: flex;
      align-items: center;
    }

    .logOut {
      margin: 0;
    }
  }

  .user {
    color: white;
    padding: 0;
    margin: 1px 2px;
  }

  .status {
    width: 10px;
    height: 10px;
    background: greenyellow;
    border-radius: 50%;
  }

  .editProfile {
    align-self: flex-end;
  }

  .profileForm {
    display: flex;
    flex-direction: column;

    .input {
      margin: 5px 0px;
    }

    .dropdown {
      margin: 0 0 1em 0;
    }

    .updateProfile {
      align-self: center;
      width: 70%;
    }
  }

  h5 {
    text-align: center;
    margin: 4px 0px;
  }

  .jurnesDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .jurnList {
      min-height: 230px;
      max-height: 230px;
      overflow: auto;

      #menu {
        margin: 10px auto;
        width: 90%;

        #menuItem {
          width: 100%;

          p {
            margin: 0;
          }
        }
      }
    }

    .viewPending {
      width: 70%;
      align-self: center;
    }

    .pendList {
      height: 230px;
      overflow: auto;
      transition: height 0.7s;
    }

    .expand2 {
      height: 0px;
      transition: height 0.7s;
      overflow: hidden;
    }

    #menu2 {
      margin: 10px auto;
      width: 90%;

      #menuItem2 {
        display: grid;
        grid-template-columns: 1fr;
        padding: 3px 0px;

        p {
          text-align: center;
          margin: 0px 0px 5px 0px;
        }

        div {
          display: flex;
          justify-content: space-around;
        }
      }
    }
  }
}
