html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

$baseColor: #e8e8e8;
$firstColor: #007796;
$secondColor: #003352;
$highlightColor: #ff8930;
$thirdColor: #1c5d99;
$frontPageColor: #4183c4;

@mixin buttonThemed($bT) {
  background: $bT;
  color: $baseColor;
  border: 1px solid $secondColor;
  transition: all 0.3s ease;

  &:hover {
    background: lighten($bT, 8%);
    transition: all 0.3s ease;
    border: 1px solid $highlightColor;
    color: $baseColor;
  }
  &:active {
    background: lighten($bT, 20%);
  }
}

@mixin FormForm_Input($fT) {
  border: 1px solid $fT;

  div.field {
    label {
      color: $fT;
    }

    div.input {
      border: 1px solid $fT;
      border-radius: 5px;

      ::placeholder {
        color: scale-color($secondColor, $alpha: -60%);
      }

      input:focus {
        color: $fT;
      }
    }
  }
}

@mixin FormForm_Field($fT) {
  border: 1px solid $fT;

  div.field {
    label {
      color: $fT;
    }

    input {
      border: 1px solid $fT;
      border-radius: 5px;
    }

    input:focus {
      color: $fT;
    }
    ::placeholder {
      color: scale-color($secondColor, $alpha: -60%);
    }
  }
}
