@use 'variables.scss' as var;

html {
	box-sizing: border-box;
	font-size: 10px;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

ul,
li {
	list-style-type: none;
}

img {
	display: block;
	width: 100%;
}

body,
#root {
	margin: 0;
	font-family: "Segoe UI", "Roboto", -apple-system, BlinkMacSystemFont, "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

em {
	color: var.$highlightColor;
}
