@import "./base.scss";

.grid {
  display: grid;
  grid-template-columns: 325px auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  header {
    position: absolute;
    top: 0;
    left: 325px;
    right: 0;
    height: 120px;
    background: $baseColor;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;

    img {
      height: 58px;
      margin: 0;
    }

    .ui.form {
      @include FormForm_Field($firstColor);
      width: 50%;

      .inline.fields {
        margin: 0;

        .field > label {
          color: $secondColor;
          justify-self: left;
        }

        div.field {
          padding: 0;
          width: 100%;
          display: grid;
          justify-items: center;

          input {
            width: 100%;
            color: $firstColor;
            margin: 0;
          }

          input:focus {
            border: 1.4px solid $secondColor;
          }
          .error {
            color: #9f3a38;
          }
          .errorBox {
            border-color: #e0b4b4;
            background: #fff6f6;
          }

          button {
            @include buttonThemed($firstColor);
            width: 50%;
          }
        }
      }
    }

    .ui.button {
      @include buttonThemed($firstColor);
    }
  }

  .dashMain {
    position: absolute;
    top: 120px;
    left: 325px;
    right: 0;
    bottom: 0;
    background: white;
    overflow: auto;

    .cardDiv {
      margin: 40px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 40px;

      #location {
        color: $firstColor;
        font-weight: 600;
      }

      .ui.card .meta {
        color: $thirdColor;
      }

      .card {
        border: 1px solid $thirdColor;
        padding: 10px;
        box-shadow: 5px 10px $firstColor;
        padding: 10px;
        border-radius: 5px;

        .nameAndEdit {
          display: flex;
          justify-content: space-between;
          color: $firstColor;
        }

        img {
          width: 290px;
          height: 290px;
        }

        .header {
          display: flex;

          a {
            margin: 0;

            button {
              margin: 0px 0px;
              padding: 5px 0px 5px 5px;
              @include buttonThemed($firstColor);
            }
          }
        }
      }
    }
  }
}
