.grid {
  display: grid;
  grid-template-columns: 250px auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  aside {
    background: lightgrey;

    .userProfile {
      padding: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      div {
        display: flex;
        align-items: center;
      }

      .user {
        color: white;
        padding: 0;
        margin: 1px 2px;
      }

      .status {
        width: 10px;
        height: 10px;
        background: greenyellow;
        border-radius: 50%;
      }

      button {
        height: 20px;
        padding: 2px 6px 4px 6px;
      }
    }

    .divider {
      margin: 0;
    }
  }

  header {
    position: absolute;
    top: 0;
    left: 250px;
    right: 0;
    height: 100px;
    background: white;
    text-align: center;
  }

  .dashMain {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 100px;
    left: 250px;
    right: 0;
    bottom: 0;
    background: white;
    overflow: auto;

    .cardDiv {
      width: 800px;
    }
  }
}
