.grid {
  display: grid;
  grid-template-columns: 325px auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  header {
    position: absolute;
    top: 0;
    left: 325px;
    right: 0;
    height: 100px;
    background: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;

    img {
      height: 58px;
      margin: 0;
    }

    .ui.form {
      width: 50%;

      .inline,
      .fields {
        margin: 0;

        .field {
          padding: 0;
          width: 100%;
          display: grid;
          justify-items: center;

          input {
            width: 100%;
          }

          button {
            width: 50%;
          }
        }
      }
    }
  }

  .dashMain {
    position: absolute;
    top: 100px;
    left: 325px;
    right: 0;
    bottom: 0;
    background: white;
    overflow: auto;

    .cardDiv {
      margin: 40px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 40px;

      img {
        width: 290px;
        height: 290px;
      }

      .header {
        display: flex;

        a {
          margin: 0;

          button {
            margin: 0px 0px;
            padding: 5px 0px 5px 5px;
          }
        }
      }
    }
  }
}
