.frontWrapper {
  background: url(/assets/JurnEase-background.png);
  background-size: cover;
  background-repeat: no-repeat;
}

h1,
h2 {
  text-align: center;
}

.frontHeader {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 60px;
  // background-color: lightblue;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    height: 58px;
    margin: 0px 0px 0px 20px;
  }

  div {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    a {
      margin: 0px 20px;

      .signUp {
        width: 150px;
        color: #4183c4;
      }
    }
  }
}

.frontMain {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 60px;
}
