@import "./base.scss";

html,
body,
.app,
#root,
.frontWrapper {
  height: 100%;
}

.frontWrapper {
  background: url("/JurnEase-background.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

h1,
h2 {
  text-align: center;
}

.frontHeader {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  a {
    margin: 0px 20px;

    .signUp {
      width: 150px;
      @include buttonThemed($frontPageColor);
    }
  }
}

.frontMain {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 60px;
  color: #4183c4;

  .tagline {
    position: absolute;
    width: 20%;
    right: 10%;
    top: 40%;

    h1 {
      text-align: center;
    }

    p {
      word-spacing: 0.3em;
      letter-spacing: 0.1em;
    }
  }
}
