@use 'variables.scss' as var;

#frontWrapper {
	height: 100vh;
}

h1 {
	text-align: center;
}

.frontHeader {
	padding: 1rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;

	a {
		margin: 0px 20px;

		.signUp {
			@include var.buttonThemed(var.$frontPageColor);
		}
	}
}

.frontMain {
	height: calc(100vh - 84px);
	color: var.$frontPageColor;
	background: url("/JurnEase-background.png") no-repeat center center/ contain;
	position: relative;
	display: flex;

	.tagline {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 10% 8% 0 auto;
		width: 300px;

		h1 {
			text-align: center;
		}

		p {
			word-spacing: 0.3em;
			letter-spacing: 0.1em;
		}
	}
}

@media (max-width: 850px) {
	#frontWrapper {
		.frontHeader {
			position: static;
			justify-content: center;
		}

		.frontImage {
			background: url("/JurnEase-picture2.jpeg") no-repeat center center/
				contain;
			height: 30vh;
		}

		.frontMain {
			height: fit-content;
			background: none;
			position: static;
			padding: 20px;

			.tagline {
				width: 100%;
				margin: 0;
				justify-content: flex-start;

				p {
					font-size: 20px;
					word-spacing: 0;
					letter-spacing: 0;
				}

				h3 {
					font-size: 25px;
					text-align: center;
				}
			}
		}
	}
}
