@use 'variables.scss' as var;

.logInRegister {
	max-width: var.$width;
	margin: auto;
	text-align: center;

	.form {
		max-width: 50%;
		margin: auto;
		@include var.FormForm_Input(var.$firstColor);

		.ui.button {
			@include var.buttonThemed(var.$firstColor, var.$firstColor);
			font-size: 1.4rem;
		}

		.segment {
			a {
				margin-left: 1rem;
			}
		}
	}
}

@media (max-width: var.$smallScreen+"px") {
	.ui.segment.logInRegister {
		.form {
			max-width: 100%;

			.segment {
				flex-direction: column;

				a {
					margin-left: 0;
				}
			}
		}
	}
}
