@import "./base.scss";

.logo {
  position: absolute;
  top: 40px;
  left: 45%;
}

.loginDiv,
.registerDiv {
  width: 25%;
  margin: 200px auto;
  border: 3px solid $firstColor;

  padding: 30px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  grid-gap: 10px;

  .field {
    margin: 0;
    width: 100%;
  }

  .ui.button {
    @include buttonThemed($firstColor);
  }

  .linkDiv {
    display: flex;

    p {
      margin: 0px 10px 0px 0px;
    }

    a {
      margin: 0px 0px 0px 10px;
    }
  }

  h1 {
    text-align: center;
  }
}
