@import "./base.scss";

#login,
#register {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 1200px;
	margin: 0 auto;

	.logo {
		margin: 100px 0 0 0;
	}

	.ui.form.loginDiv,
	.ui.form.registerDiv {
		@include FormForm_Input($firstColor);
		width: 50%;
		height: fit-content;
		margin: 20px 0;
		border: 3px solid $firstColor;
		border-radius: 10px;
		padding: 30px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;

		.field {
			margin: 10px 0;
			width: 100%;

			input:focus {
				border: 1.5px solid $firstColor;
			}

			.error {
				color: #9f3a38;
			}

			.errorBox {
				border-color: #e0b4b4;
				background: #fff6f6;
			}
		}

		.ui.button {
			@include buttonThemed($firstColor);
			margin: 10px 0 0 0;
		}

		.linkDiv {
			display: flex;
			margin: 10px 0;

			p {
				margin: 0px 10px 0px 0px;
				color: $secondColor;
			}

			a {
				margin: 0px 0px 0px 10px;
				color: $firstColor;
			}
		}
	}
}

@media (max-width: 850px) {
	#login,
	#register {
		.logo {
			margin: 50px 0 0 0;
		}

		.ui.form.loginDiv,
		.ui.form.registerDiv {
			width: 75%;
		}
	}
}

@media (max-width: 500px) {
	#login,
	#register {
		.logo {
			margin: 20px 0 0 0;
		}

		.ui.form.loginDiv,
		.ui.form.registerDiv {
			width: 95%;
		}
	}
}
